


 <div class="leftMenuHeader">                
    <li>
        <a href="/admin">
            <i class="fa fa-cubes"></i>
            <span>Cadastro de Equipamentos</span>
        </a>
    </li>
</div>
<pre></pre>
<li><a href="/admin/Equipamentos/add"><span></span><span></span><i class="fas fa-plus-square"></i></i><span>Adicionar</span></a></li>
<li><a href="/admin/Equipamentos/edit"><span></span><span></span><i class="fas fa-edit"></i><span>Alterar</span></a></li>
<li><a href="/admin/Equipamentos/del"><span></span><span></span><i class="fas fa-trash-alt"></i><span>Remover</span></a></li>
