


    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                <i class="fa fa-wallet"></i>
                <span>PAINEIS / FATURAMENTO</span>
            </a>
        </li>
    </div>
    <pre></pre>
    <li>
         <a href="/PAINEIS/Comercial/ClientesTop20">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>Maiores Clientes</strong></span>
        </a> 
    </li>
    <li>
         <a href="/PAINEIS/Comercial/FatFamSubFam">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>Fat. Familias e SubFamilias</strong></span>
        </a> 
    </li>
   