<div class="container-fluid">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <b>CADASTRO CLAN'S</b>
                            </h5>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="NOME"><b>NOME</b></label>
                                        </div>
                                        <div class="col-3">    
                                            <input type="text" name="nome" class="form-control-sm" required>
                                        </div>   
                                    </div>    
                                
                                    </br>
                                    <p></p>
                                    <button type="submit" class="btn btn-success">Criar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
