</br>
<nav class="navbar navbar-expand-lg menu border shadow h-100 py-2" >
   </br>
   </br>
    <p class="card-text" style="color:white"  align="center">
        Copyright © 2021 Procópio Industria e Comércio Ltda - Todos os direitos reservados.
    </p>
</nav>
