    



{{#foreach aMenu}}
    <li class="mega-menu mega-menu-sm"> <!-- SUB MENU -->
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="fa fa-plus"></i>
            <span class="nav-text">Cadastros</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="/Clans">Clans</a></li>
            <li><a href="/Classes">Classes</a></li>
            <li><a href="/Personagens">Personagens</a></li>

        </ul>

<!--
        <ul aria-expanded="false">
            <li><a href="/ERP/Compras/SC">Solicitação de Compras</a></li> 
            <li><a href="/ERP/Compras/Pedidos">Pedidos de Compra</a></li>
            
            <li class="mega-menu mega-menu-sm"> <!-- SUB MENU -->
<!--                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-file-alt"></i>
                    <span class="nav-text">Relatório</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/ERP/Compras/Relatorios/NotasEntrada">Notas Entradas</a></li>
                </ul>
            </li> 
        </ul>   
-->        
    </li>  
{{/foreach}}

