{{#if success_msg}}
    <pre></pre>
    <pre></pre>
    <div class="alert alert-success" style="text-align: center">{{success_msg}}</div>

    {{#if success_msg}}

    {{/if}}    
{{/if}}

{{#if error_msg}}
    </br>
    <div class="alert alert-danger">{{error_msg}}</div>

{{/if}}

{{#if error}}
    </br>
    <div class="alert alert-danger" style="text-align: center">{{error}}</div>
    <script>
        setTimeout(function() {
            window.location.reload();
        }, 2500)
    </script>
{{else}}

{{/if}}
