
<script>
    var aDadosEmpresas = []

    BuscaDados('/Empresas/', [ 1 ])
    
    //Carrega API
    request.done(dados => {  })

    //Processa Dados
    request.then(dados => {  
        
        if(typeof(dados) == "object"){
          
          var x = document.getElementById("gEmpresas")
          
          button = document.createElement('button')
          button.setAttribute("type", "button")
          button.setAttribute("class", "btn btn-info")
          button.setAttribute("id", "_cEmpresas")
          button.innerHTML = "Empresa: "
          x.appendChild(button)

          button.setAttribute("type", "button")
          button.setAttribute("class", "btn btn-info dropdown-toggle dropdown-toggle-split")
          button.setAttribute("data-toggle", "dropdown")
          button.setAttribute("aria-haspopup", "true")
          button.setAttribute("aria-expanded", "false")

          span = document.createElement('span')
          span.setAttribute("class", "sr-only")
          span.innerHTML = 'Dropdown'
          button.appendChild(span)
          x.appendChild(button)

          div = document.createElement('div')
          div.setAttribute("class", "dropdown-menu")
          div.setAttribute("id", "_dmEmpresas")
          x.appendChild(div)

          
          for(i=0; i < dados.length; i++) {
            x = document.getElementById("_dmEmpresas")

            a = document.createElement('a')
            a.innerText = dados[i].DESCRICAO
            a.setAttribute("class"  , "dropdown-item")
            a.setAttribute("onclick", "CarregaEmpresa(0, '" + (dados[i].id) + "')")
            x.appendChild(a)
            
            div = document.createElement('div')
            div.setAttribute("class"  , "dropdown-divider")
            x.appendChild(div)

            aDadosEmpresas.push( [ dados[i].GRUPO, dados[i].FILIAL, dados[i].DESCRICAO, dados[i].id ])
          }

          CarregaEmpresa(1, dados[0].EMPPADRAO)
        } else {

        }
          
    })
    
</script>


<div class="barraNav border shadow">
  <nav class="navbar navbar-expand-lg navbar-dark menu">
      <ul class="navbar-nav mr-auto">
        <img src="\imagens\Procopio.png" width="50" height="50">
        <!--<li class="nav-item">
          {{#if Desativado}}
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Desativado</a>
            </li>
          {{/if}}
          </li>-->
          <li class="nav-item">
            <pre>   </pre>
          </li>

          <!-- ESCOLHA EMPRESAS -->
          <li class="nav-item">
            <div class="btn-group" id="gEmpresas">

            </div>
          </li>

          <div id="DivTitulo" style="left: 10%;">
            <pre></pre>
            <div id="DivTituloTexto" class="card-menu"></div>
            <pre></pre>
          </div>
      </ul>
      <a class="nav-link text-white" onClick="history.go(-1)">
        <!--    <i class="fas fa-arrow-circle-left"></i> Voltar     -->
      </a>
  </nav>
</div>
</br></br>

<style>
  img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  .barraNav {
    position: fixed;
    z-index: 2; /* Quantidade de DIV`s acima dessa */
    width: 95%;
    margin-top: 0.2%;
    display: inline ;
  }
</style>


<script>

   function CarregaEmpresa(nFunc, nTipo){
      for(i=0; i < aDadosEmpresas.length; i++) {    
        if(aDadosEmpresas[i][3] == nTipo){
          _cEmpresas.innerHTML = 'Empresa: ' + aDadosEmpresas[i][2]
          _cEmpresas.setAttribute("name", aDadosEmpresas[i][0]+"_"+aDadosEmpresas[i][1]) 
        }
      }

      BuscaDados('/Empresas/', [ 
        2 
        ,nTipo
      ])

    //Processa Dados
    request.then(dados => { 
//      console.log(dados[0].OK) 
      
        if(nFunc != 1){
          document.location.reload(true);
        }

    })

   }  

</script>