
<label><strong>Listar Turnos</strong></label>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each aTurnos}}
            <tr>
                <th scope="row">-</th>
                <td>{{id}}</td>
                <td>{{Descricao}}</td>
                <td>{{Status}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>