  


    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                <i class="fa fa-calculator"></i>
                <span>ERP / CONTABILIDADE</span>
            </a>
        </li>
    </div>
    <pre></pre>
    <li>
        <a href="#"class="dropdown">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>RELATÓRIOS</strong></span>
        </a> 
        <ul class="dropdownlist">
            {{#foreach aRotina}}
                {{#if_eq this 'ERP_RelDREGEREMP'}}
                    <li><a href="/ERP/Contabilidade/Relatorios/RelDREGEREMP"><span></span><span></span><i class="fas fa-tasks"></i><span>DRE Gerencial Consolidado</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_RelDRE'}}
                    <li><a href="/ERP/Contabilidade/Relatorios/RelDRE"><span></span><span></span><i class="fas fa-tasks"></i><span>DRE</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_RelDREGER'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/RelDREGER"><span></span><span></span><i class="fas fa-tasks"></i><span>DRE Gerencial</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_SaldosViradas'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/SaldosViradas"><span></span><span></span><i class="fas fa-landmark"></i><span>Saldos de Viradas</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_SaldosViradasCalc'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/SaldosViradasCalc"><span></span><span></span><i class="fas fa-landmark"></i><span>Saldos de Viradas Calculo</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_SaldosViradasCusto'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/SaldosViradasCusto"><span></span><span></span><i class="fas fa-landmark"></i><span>Saldos de Viradas Custo</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_SaldosViradasCustoCalc'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/SaldosViradasCustoCalc"><span></span><span></span><i class="fas fa-landmark"></i><span>Saldos de Viradas Custo Calculo</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_SaldoEmEstoque'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/SaldoEmEstoque"><span></span><span></span><i class="fas fa-landmark"></i><span>Saldo Negativos em Estoque</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_RelInvent'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/RelInvent"><span></span><span></span><i class="fas fa-landmark"></i><span>Movimentos Inventário</span></a></li>          
                {{/if_eq}}         
                {{#if_eq this 'ERP_RelIBGE'}}                    
                    <li><a href="/ERP/Contabilidade/Relatorios/RelIBGE"><span></span><span></span><i class="fas fa-landmark"></i><span>Relatório para IBGE</span></a></li>          
                {{/if_eq}}         
                
            {{/foreach}}            
        </ul>
    </li>
