|  
    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                 <div class="row">
                    <div class="col-2">
                        <span class="material-icons md-30">supervisor_account</span>
                    </div>
                    <div class="col">
                        <span style="font-size: 18px; font-weight: bold;">RH</span>
                    </div>
                </div>
            </a>
        </li>
    </div>
    <pre></pre>
     {{#foreach aRotina}}
        {{#if_eq this 'ERP_GeraCesta'}}  
            <pre></pre>
            <li>
                <a href="/ERP/RH/GeraCesta">
                    <span></span>
                    <div class="row">
                        <div class="col-1">
                            <span class="material-icons">shopping_basket</span>
                        </div>
                        <div class="col">
                            <span class="nav-text">Gera Cesta Basica</span>
                        </div>
                    </div>
                    
                    
                </a>
            </li>  
            <pre></pre>
        {{/if_eq}}
    {{/foreach}}


    <li>
        <a href="#"class="dropdown">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>RELATÓRIOS</strong></span>
        </a> 
        <ul class="dropdownlist">
            {{#foreach aRotina}}
                {{#if_eq this 'ERP_RelValeCesta'}}
                    <li><a href="/ERP/RH/Relatorios/RelValeCesta"><span></span><span></span><i class="fas fa-funnel-dollar"></i><span>Vale Cesta</span></a></li>
                {{/if_eq}}

                {{#if_eq this 'ERP_RelConfReif'}}
                    <li><a href="/ERP/RH/Relatorios/RelConfReif"><span></span><span></span><i class="fas fa-funnel-dollar"></i><span>Conferência Refeições</span></a></li>
                {{/if_eq}}

                {{#if_eq this 'ERP_RelQtdaReif'}}
                    <li><a href="/ERP/RH/Relatorios/RelQtdaReif"><span></span><span></span><i class="fas fa-funnel-dollar"></i><span>Quantidade Refeições</span></a></li>
                {{/if_eq}}
      
            {{/foreach}}                    
        </ul>
    </li>
