
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <center><img src="\images\LogoAlliance.jpg" class="d-block w-50" alt="\images\LogoAlliance.jpg"></center>
            </div>
            <div class="carousel-item">
            <img src="\images\LogoAlliance.jpg" class="d-block w-100" alt="\images\LogoAlliance.jpg">
            </div>
            <div class="carousel-item">
            <img src="\images\LogoAlliance.jpg" class="d-block w-100" alt="\images\LogoAlliance.jpg">
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            <form action="/Usuarios/Login" method="post">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" id="Email" name="Email" placeholder="Email"
                        required="required">
                </div>
                <div class="form-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" class="form-control" id="Senha" name="Senha" placeholder="Senha"
                        required="required">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Entrar">
                </div>
            </form>
             
            {{>_msg}}
            
        </div>
        <div class="modal-footer">
        </div>
        <div align="center">
            <pre> <a href="Registrar">Registrar</a></pre>
        </div>
        <div align="center">
            <pre> <a href="Esqueci">esqueci minha senha</a></pre>
        </div>
    </div>
</div>

