<div class="container-fluid">    
    {{#each erros}}
        <div class="alert alert-danger"> {{texto}} </div>
    {{else}}

    {{/each}}
    <pre>   </pre>
    
    <div class="container">
        <pre>   </pre>
        <div class="card shadow">
            <div class="card-body" align="right">
                <button type="button" id="Imprimir02" class="btn btn-sm btn-primary">Exportar Excel</button>
            </div>
            <div class="card-body" id="tImpressao">
                <div id="dTabela"></div>
            </div>
            <pre></pre>
        </div>	
    </div>

    <div id="loader2">
        <div class="centraliza">
            <div class="conteudoFixo">
                <div class="progress" style="height: 25px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="Carregando" role="progressbar" aria-valuenow="0" id="progress"
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="aDados" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body border shadow">
                        <div class="card-menu border-left-success" id="cTitulos"></div>
                        <div id="dTabela2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <label><strong>Dados Usuário</strong></label>
                                        <pre></pre>
                                        <label><strong>Id</strong></label>
                                        <pre id="cIdUser"></pre>
                                        <label><strong>Nome</strong></label>
                                        <pre id="cNomeUser"></pre>
                                    </div>
                                    <div class="col-6">
                                        <pre></pre>
                                        <label><strong>Empresas</strong></label>
                                        <div class="card-body">
                                            <div class="form-check" id="aEmpresas"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div align="right">
                            <button type="submit" class="btn btn-primary" id="bButton"></button>
                        </div>
                    </div>
                </div>     
            </div>
        </div>  
        <div id="loader3">
            
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>  -->
<script type="text/javascript" src="/js/jquery.mask.js"></script>
<script type="text/javascript" src="/js/javascript.helpers.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.table2excel.js"></script>

<script>   
    DivTituloTexto.innerText = "Acessos Empresas"
    DivTitulo.setAttribute("class", "card shadow border-central")

    var options 
    var cDados
    var aDados

    google.charts.setOnLoadCallback(CarregaTabela); 

    function CarregaTabela() {

        aDados = new google.visualization.DataTable();
        
        aDados.addColumn('number', 'ID');               //00
        aDados.addColumn('string', "Nome Completo");    //01
        aDados.addColumn('string', "E-Mail");           //02        
        aDados.addColumn('string', "Admin");            //03
        aDados.addColumn('string', "Empresas Acesso");  //04
        aDados.addColumn('string', "Ações");            //05

        var cssClassNames = {
            'headerRow': 'default-font bold-font a center-text fundo-table-background-padrao '
            ,'tableRow': 'false'
            ,'oddTableRow': ''
            //,'selectedTableRow': 'orange-background large-font'
            ,'hoverTableRow': 'false'
            ,'headerCell': ''
            ,'tableCell': 'default-font'
            ,'rowNumberCell': 'underline-blue-font'
        }

        options  = {
            showRowNumber: false
            ,width: '100%'
            ,height: '100%'
            ,allowHtml: true
            ,'cssClassNames': cssClassNames
        }

        cDados = new google.visualization.Table(document.getElementById('dTabela'));
        cDados.draw(aDados, options); 
    }
    
    function CarregaDados() {
         // Carrega DIV de carregamento
        jQuery("#loader2").fadeIn("slow")

        BuscaDados('/Admin/ACEEMP', [
            1
        ])
        
        //Carrega API
        request.done(dados => {      
            if(aDados.getNumberOfRows() > 0)
                aDados.removeRows(0, aDados.getNumberOfRows())
        })

        //Processa Dados
        request.then(dados => {  
            aDados.addRows(dados.length)

            var cAcoes = ''

            for(i=0; i < dados.length; i++) {
                cAcoes = ''
                cAcoes2 = ''

                cAcoes += '  <div align="center">                                                                                                    '
                cAcoes += '     <span class="btn btn-success bt-sm" data-toggle="modal" data-target="#aDados"                                        '
                cAcoes += '         onclick="Alterar(1, ' + dados[i].ID + ', `' + dados[i].NOME + '`)">Alterar</span>                                '
                cAcoes += '  </div>                                                                                                                  '
               
                cAcoes2 += '  <div align="center">                                                                                                   '
                cAcoes2 += '     <span class="badge bg-dark large-font white-font"> ' + dados[i].EMPRESAS_ACESSOS + ' </span>                        '
                cAcoes2 += '  </div>                                                                                                                 '

                aDados.setCell(i,  0, dados[i].ID)
                aDados.setCell(i,  1, dados[i].NOME)
                aDados.setCell(i,  2, dados[i].EMAIL)
                aDados.setCell(i,  3, dados[i].ADMIN)
                aDados.setCell(i,  4, cAcoes2 )
                aDados.setCell(i,  5, cAcoes )
            }

            cDados.draw(aDados, options); 
                        
            $('.google-visualization-table-table').DataTable({
                "paging":   false
                ,"info":    false
                ,"destroy": true
                //,"searching": false
                ,"language": {
                    "lengthMenu": "Visualizações de _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": " Página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)"
                }
            });


            jQuery("#loader2").fadeOut("slow");
        })
    }

    function Alterar(nTipo, cID, cNome){

        cTitulos.innerText = 'Alterar Acessos'

        jQuery("#loader3").fadeOut("slow")
        
        if(nTipo == 1) {
            bButton.setAttribute("Qclass", "btn btn-success bt-sm")
            bButton.setAttribute("onClick", "Alterar(2, " + cID + ")")
            bButton.innerText = 'Alterar'

            cIdUser.innerText   = cID
            cNomeUser.innerText = cNome
            
            if(typeof(_Empresas) == 'object')
                _Empresas.remove()
            
            var x = document.getElementById("aEmpresas")
            var div = document.createElement('div')
            div.setAttribute("id", '_Empresas')

            //Busca Empresas
            BuscaDados('/Admin/ACEEMP', [ 
                4
            ])
            
            //Processa Dados
            request.then(dados => {  
                aDadosEmpresas = dados
            
                for(i=0; i < aDadosEmpresas.length; i++) {

                    input = document.createElement('input')
                    input.setAttribute("class", "form-check-input")
                    input.setAttribute("type", "checkbox")
                    input.setAttribute("name", "Check_Empresas")
                    input.setAttribute("id", 'cEmp_' + aDadosEmpresas[i].id)
                    input.setAttribute("value", aDadosEmpresas[i].GRUPO + "_" + aDadosEmpresas[i].FILIAL)

                    div.appendChild(input)

                    pre = document.createElement('pre')
                    pre.setAttribute("class", "form-check-label")
                    pre.innerText = aDadosEmpresas[i].DESCRICAO
                    
                    div.appendChild(pre)
                }

                x.appendChild(div)
                
                //bButton.disabled = true
                var aCheck = document.getElementsByName("Check_Empresas")
                var aAdd = []
                
                for(i=0; i < aCheck.length; i++) {
                    if(aCheck[i].checked == true) { 
                        cStatus = '1' 
                    } else { 
                        cStatus = '0' 
                    }
                    
                    aAdd.push( [ aCheck[i].id.split("_")[1], cStatus ] )
                }
                    
                /// Busca Empresas
                BuscaDados('/Admin/ACEEMP', [ 
                    2
                    ,cID
                ])
                
                //Processa Dados
                request.then(dados => {  
                    var aEmp       = document.getElementsByName("Check_Empresas")
                    var aEmpAcesso = dados[0].EMPRESA_ACESSO.split(";")

                    for(i=0; i < aEmp.length; i++) {
                        for(b=0; b < aEmpAcesso.length; b++) {
                            if(aEmp[i].value == aEmpAcesso[b]){
                                aEmp[i].checked = true
                            }
                        }
                    }
                })
            })

        } else {
            var _cEmpreas_ = ""
            var _aEmpreas  = {}

            _aEmpreas = document.getElementsByName("Check_Empresas")
            
            for(i=0; i < _aEmpreas.length; i++) {
                if(_aEmpreas[i].checked)
                    _cEmpreas_ += _aEmpreas[i].value + ";"
            }


            /// Alterar
            BuscaDados('/Admin/ACEEMP', [ 
                3
                ,cID
                ,_cEmpreas_
            ])
            
            //Processa Dados
            request.then(dados => {  
                if(dados[0].OK == "S") {
                    location.reload();
                } else {
                    alert("Erro ao atualizar acessos, favor tentar novamente!")
                    location.reload();
                }
            })
        }
    }

    Imprimir02.onclick = function() {
        $(".google-visualization-table-table").table2excel({
            exclude: ".excludeThisClass"
            ,name: "Excel Document Name"
            ,filename: "BuscaNotas-" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls"
            ,fileext: ".xls"
            ,exclude_img: true
            ,exclude_links: true
            ,exclude_inputs: true
            ,preserveColors: true // set to true if you want background colors and font colors preserved
        });    
    }
    
    setTimeout(function() {
        CarregaDados()
    }, 2000)

    // Fecha div de carregando
    jQuery("#loader").fadeOut("slow");
    jQuery("#loader2").fadeOut("slow");

</script>