
    <li class="gradient-10">
        <a href="/" aria-expanded="false">
            <i class="fa fa-wallet"></i>
            <strong><span class="nav-text">Comercial</span></strong>
        </a>
    </li>
    <pre></pre>
    <li>
        <a href="/ERP/Comercial/PreVenda" aria-expanded="false">
            <i class="fas fa-file-alt"></i>
            <span class="nav-text">Pré Venda</span>
        </a>
    </li>

    <pre></pre>
    <li class="mega-menu mega-menu-sm"> <!-- SUB MENU -->
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="fas fa-file-alt"></i>
            <strong><span class="nav-text">Relatórios</span></strong>
        </a>
        <ul aria-expanded="false">
            {{#foreach aRotina}}
                {{#if_eq this 'ERP_BuscaNotas'}}
                    <li><a href="/ERP/Comercial/Relatorios/BuscaNotas"><i class="fas fa-funnel-dollar"></i>Busca Notas Fiscais</a></li>
                {{/if_eq}}
                {{#if_eq this 'ERP_CarteiraComercial'}}                    
                    <li><a href="/ERP/Comercial/Relatorios/CarteiraComercial"><i class="fas fa-landmark"></i>Carteira Clientes</a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_ComFatRegioes'}}                    
                    <li><a href="/ERP/Comercial/Relatorios/ComFatRegioes"><i class="fas fa-landmark"></i>Faturamento Regiões</a></li>          
                {{/if_eq}}         
            {{/foreach}}
        </ul>
    </li>



