{{#each aItens}}    
    <div class="card">
        <div class="card-header"><strong>Pendências</strong></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Pedidos de Compras 
                <span class="badge badge-success pull-left"> {{PEDIDO}}</span></li>
            <li class="list-group-item">Solicitações de Compras 
                <span class="badge badge-success pull-left"> {{SC}}</span></li>
        </ul>
    </div>
{{/each}}