|  


    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                <i class="fa fa-shuttle-van"></i>
                <span>ERP / EXPEDIÇÃO</span>
            </a>
        </li>
    </div>
    <pre></pre>
    <li>
        <a href="#"class="dropdown">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>RELATÓRIOS</strong></span>
        </a> 
        <ul class="dropdownlist">
            {{#foreach aRotina}}
                {{#if_eq this 'ERP_Romaneios'}}
                    <li><a href="/ERP/Expedicao/Relatorios/Romaneios"><span></span><span></span><i class="fas fa-truck-moving"></i><span>Romaneios</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_Embarques'}}
                    <li><a href="/ERP/Expedicao/Relatorios/Embarques"><span></span><span></span><i class="fas fa-truck-loading"></i><span>Embarques e Entregas</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_NotasCTE'}}                    
                    <li><a href="/ERP/Expedicao/Relatorios/NotasCTE"><span></span><span></span><i class="fas fa-truck-loading"></i><span>Notas e CTE's</span></a></li>          
                {{/if_eq}}         
            {{/foreach}}
        </ul>
    </li>
