


    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                <i class="fa fa-hand-holding-usd"></i>
                <span>ERP / FINANCEIRO</span>
            </a>
        </li>
    </div>
    <pre></pre>

    <li>
        <a href="#"class="dropdown">
            <span></span><i class="fas fa-tasks"></i>
            <span class="nav-text"><strong>LIBERAÇÕES</strong></span>
        </a> 
        <ul class="dropdownlist">
            <li><a href="/ERP/Financeiro/FINBLOQ"><span></span><span></span><i class="fas fa-comment-dollar"></i><span>Bloqueio Financeiro</span></a></li>  
        </ul>
    </li>
    
    <li>
        <a href="#"class="dropdown">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>RELATÓRIOS</strong></span>
        </a> 
        <ul class="dropdownlist">
            {{#foreach aRotina}}
                {{#if_eq this 'ERP_FINRELFLUXO'}}
                    <li><a href="/ERP/Financeiro/Relatorios/FINRELFLUXO"><span></span><span></span><i class="fas fa-landmark"></i><span>Fluxo</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_RELREC'}}
                    <li><a href="/ERP/Financeiro/Relatorios/RELREC"><span></span><span></span><i class="fas fa-landmark"></i><span>Recebimentos e Pagamentos</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_RELRECPAGAPAG'}}
                    <li><a href="/ERP/Financeiro/Relatorios/RELRECPAGAPAG"><span></span><span></span><i class="fas fa-landmark"></i><span>Rec./Pag. e à Pagar</span></a></li>          
                {{/if_eq}}
                {{#if_eq this 'ERP_RecVsDesp'}}                    
                    <li><a href="/ERP/Financeiro/Relatorios/RecVsDesp"><span></span><span></span><i class="fas fa-landmark"></i><span>Faturamento Vs Compras</span></a></li> 
                {{/if_eq}}
                {{#if_eq this 'ERP_aPagarAlcabras'}}
                    <li><a href="/ERP/Financeiro/Relatorios/aPagarAlcabras"><span></span><span></span><i class="fas fa-landmark"></i><span>A Pagar Alçabras</span></a></li> 
                {{/if_eq}}
                {{#if_eq this 'ERP_RecVsDespAnual'}}
                    <li><a href="/ERP/Financeiro/Relatorios/RecVsDespAnual"><span></span><span></span><i class="fas fa-landmark"></i><span>Fat Vs Compras Anual</span></a></li> 
                {{/if_eq}}
                
            {{/foreach}}                    
        </ul>
    </li>
    
    
    