  


    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                <i class="fa fa-cash-register"></i>
                <span>VENDAS</span>
            </a>
        </li>
    </div>
    <pre></pre>
    <!--<li>
         <a href="/Vendedores/PreVenda">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>Pré Venda</strong></span>
        </a> 
    </li>
-->
    <li>
        <a href="#"class="dropdown">
            <span></span><i class="fas fa-shopping-basket"></i>
            <span class="nav-text"><strong>PRÉ-VENDAS</strong></span>
        </a> 
        <ul class="dropdownlist">
            <li><a href="/Vendedores/PreVendaList"><span></span><span></span><i class="fas fa-list"></i><span>Listar</span></a></li>    
            <li><a href="/Vendedores/PreVendaInc"><span></span><span></span><i class="fas fa-plus"></i><span>Incluir</span></a></li>          
            <!--
            <li><a href="/Vendedores/PreVendaAlt"><span></span><span></span><i class="far fa-edit"></i><span>Alterar</span></a></li>          
            <li><a href="/Vendedores/PreVendaExc"><span></span><span></span><i class="fas fa-minus"></i><span>Excluir</span></a></li>  
            -->
                  
        </ul>
    </li>
