<div class="container-fluid">
    {{#each erros}}
        <div class="alert alert-danger">{{texto}}</div>
    {{else}}    

    {{/each}}

    </br>
    <div class="container"> 
        <div class="card">
            <div class="card-body">
                <center><img src="\images\LogoMeio.jpg" class="d-block w-50" alt="\images\LogoMeio.jpg"></center>
                <pre></pre>
                <pre></pre>
                <h2 class="card-title">Bem-vindo a família "AllianceSA"</h2>
                <p class="text-muted">
                    <code>Leia com calma e atenção e preencha esse formulário, se você concordar com nossas regras e com o compartilhamento de suas informações para nossa equipe, e apenas se você já faz parte de algum dos nossos clã.            </code>
                    <p></p>
                    <code>Atualmente possuimos 7 clãs, AllianceSA34, AllianceSA, AllianceSA1, AllianceSA2, AllianceSA3, AllianceSA4 e AllianceSA5.</code>
                </p>
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                            <b>REGRAS 1 - Fair Play</b>
                            </h5>
                        </div>
                        <div class="card-body" id="regra1">
                            Nossos clãs da AllianceSA defendem o Fair play (traduzido literalmente do inglês para o português: jogo justo) é uma filosofia adotada em desporto que prima pela conduta ética nos esportes. 
                            Os praticantes devem procurar jogar de maneira justa, não prejudicando o adversário de forma proposital.
                            <p></p>
                            Em outras palavras, não importa se o "time adversário fez falta ou um pênalti", ou o que "eles fazem" ou se eles jogam pensando em prejudicar outros jogadores, 
                            nos queremos saber de como NOSSOS jogadores jogam, isso é você deve preservar sempre o Fair Play.

                            <pre></pre>
                            <pre></pre>
                            <div class="radio mb-3">
                                <label>
                                    <input type="radio" name="regra1" onchange="Regra1(1)"> <b>Concordo, com essa forma de jogar</b>
                                </label>
                            </div>
                            <div class="radio mb-3">
                                <label>
                                    <input type="radio" name="regra1" data-toggle="modal" data-target="#basicModal" onchange="Regra1(2)"> <b>Não concordo, não quero participar do AllianceSA</b>
                                </label>
                            </div>
                            
                            <pre></pre> 
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <b>REGRAS 2 - PROIBIDO Minerar Dark Steel.</b>
                                </h5>
                            </div>
                            <div class="card-body" id="regra2">
                                Jogadores dos nossos clãs da AllianceSA34, AllianceSA ou AllianceSA1, que for identificado minerando em qualquer lugar do território da "Sleep", caso não tenha autorização para isso, será removido do clã, podendo reingressar no AllianceSA2 onde ficam nossas contas de farm ou ALTs.
                                <p></p>
                                Os clãs AllianceSA34, AllianceSA ou AllianceSA1 são exclusivos para jogadores e não devem pisar no território da "Sleep" para minerar Dark Steel, nem em Bicheon ou no Vale das Serpentes.
                                <p></p>
                                Em outras palavras, você é um jogador que quer um clã para jogar e ficar mais forte, ou você quer minerar para pagar suas contas?
                                <p></p>
                                <b> ** Existem inúmeras formar mais inteligentes de conseguir Dark Steel no jogo, minerar em Vales não é a escolha mais sábia, tempo nesse jogo é algo extremamente precioso.</b>
                            
                                <pre></pre>
                                <pre></pre>
                                <div class="radio mb-3">
                                    <label>
                                        <input type="radio" name="regra2" onchange="Regra2()"> <b>Quero Jogar e NÃO Minerar Dark.</b>
                                    </label>
                                </div>
                                <div class="radio mb-3">
                                    <label>
                                        <input type="radio" name="regra2" onchange="Regra2()"> <b>Nessa conta que vou registrar, eu só quero minerar.</b>
                                    </label>
                                </div>
                            
                                <pre></pre> 
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <b>REGRAS 3 - PUNIÇÕES E CLÃ POR CLASSIFICAÇÃO.</b>
                                </h5>
                            </div>
                            <div class="card-body" id="regra3">
                                Jogadores dos nossos clãs da AllianceSA34, AllianceSA e AllianceSA1, que NÃO participarem da "Expedição" (sábados) e "Desafio do Clã" (domingos), irá receber uma punição de 50 pontos no ranking interno, para cada evento ausente, CASO o respectivo clã não tenha sucesso em finalizar por completo o evento.
                                <p></p>
                                Os 50 membros com maior pontuação terão a oportunidade de jogar e se ingressar no clã AllianceSA34.
                                <p></p>
                                Do 51 ao 100 de classificação no ranking interno, estarão aptos para ingressar no clã AllianceSA.
                                <p></p>
                                Do 101 ao 150 de classificação no ranking interno, estarão aptos para ingressar no clã AllianceSA1.
                                <p></p>
                                Do 151 ao 200 de classificação no ranking interno, estarão aptos para ingressar no clã AllianceSA2.                   
                                <pre></pre>
                                <pre></pre>
                                <div class="radio mb-3">
                                    <label>
                                        <input type="radio" name="regra3" onchange="Regra3()"> <b>Concordo, sei da importancia desses eventos para minha conta e para todo o clã.</b>
                                    </label>
                                </div>
                                <div class="radio mb-3">
                                    <label>
                                        <input type="radio" name="regra3" data-toggle="modal" data-target="#basicModal" onchange="Regra1(2)"> <b>Não concordo, não quero participar do AllianceSA.</b>
                                    </label>
                                </div>
                            
                                <pre></pre> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card" id="dCadastro">
            <div class="card-body">
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <b>CADASTRO LIBERADO</b>
                            </h5>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="email"><b>E-mail</b></label>
                                        </div>
                                        <div class="col-3">    
                                            <input type="email" name="email" class="form-control-sm" required>
                                        </div>

                                        <label class="css-control css-control-primary css-checkbox" for="principal">
                                            <input class="form-check-input" type="checkbox" id="principal" name="ContaPri" value="1" checked onchange="Secundario()"> 
                                            <pre>  Conta Principal</pre>
                                        </label>        
                                    </div>    
                                    <pre></pre>

                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="nick"><b>Nick Personagem</b></label>
                                        </div>
                                        <div class="col-3">     
                                            <input type="text" name="nick" class="form-control-sm" required>
                                        </div>

                                        <label class="css-control css-control-primary css-checkbox" for="secundario">
                                            <input class="form-check-input" type="checkbox" id="secundario" name="ContaSeg" value="1" onchange="Secundario()"> 
                                            <pre id="descsec">  Personagem Secundário</pre>
                                        </label>  
                                             
                                    </div>
                                    <pre></pre>
<!--- criar um abrir se -->                                   
                                    <div class="row"  id="_secundario">
                                        <div class="col-2">     
                                            <label for="nick2"><b style="color: red" id="descnick2">Nick Secundário</b></label>
                                        </div>
                                        <div class="col-6">     
                                            <input type="text" id="nick2" name="nick2" class="form-control-sm">
                                        </div>
                                    </div>
                                    <pre></pre>

                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="discord"><b>ID DISCORD</b></label>
                                        </div>
                                        <div class="col-6">     
                                            <input type="text" name="discord" class="form-control-sm" required>
                                        </div>
                                    </div>
                                    <pre></pre>

                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="fone"><b>WhatsApp</b></label>
                                        </div>
                                        <div class="col-6">     
                                            <input type="text" name="fone" class="form-control-sm" required>
                                        </div>
                                    </div>
                                    <pre></pre>

                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="clan"><b>CLAN</b></label>
                                        </div>
                                        <div class="col-3 form-group">
                                            <select  name="clan" class="form-control" required>
                                                <option></option>
                                                <option value="1">AllianceSA34</option>
                                                <option value="2">AllianceSA  </option>
                                                <option value="3">AllianceSA1 </option>
                                                <option value="4">AllianceSA2 </option>
                                                <option value="5">AllianceSA3 </option>
                                                <option value="6">AllianceSA4 </option>
                                                <option value="7">AllianceSA5 </option>
                                            </select>
                                        </div>                                        
                                    </div>
                                    <pre></pre>

                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="nivel"><b>NÍVEL (LEVEL)</b></label>
                                        </div>
                                        <div class="col-6">     
                                            <input type="text" id="nivel" name="nivel" class="form-control-sm" required>
                                        </div>
                                    </div>
                                    <pre></pre>

                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="poder"><b>PODER</b></label>
                                        </div>
                                        <div class="col-6">     
                                            <input type="text" id="poder" name="poder" class="form-control-sm" required  placeholder="Ex.: 72.652  = 72">
                                        </div>
                                    </div>
                                    <pre></pre>
                                    
                                    <div class="row">
                                        <div class="col-2">     
                                            <label for="classe"><b>Classe</b></label>
                                        </div>
                                        <div class="col-3 form-group">
                                            <select  name="classe" class="form-control" required>
                                                <option></option>
                                                <option value="1">Arcobalista</option>
                                                <option value="2">Feiticeira</option>
                                                <option value="3">Guerreiro</option>
                                                <option value="4">Lanceiro</option>
                                                <option value="5">Taoísta</option>
                                            </select>
                                        </div>                        
                                    </div>
                                
                                    </br>
                                    <p></p>
                                    <button type="submit" class="btn btn-success">Criar Conta</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bootstrap-modal">    
            <!-- Modal -->
            <div class="modal fade" id="basicModal" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">AllianceSA</h5>
                            <button type="button" class="close" data-dismiss="modal" onclick="Regra1(2)"><span>×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <pre></pre>
                            <center><h4><b>AGRADECEMOS SUA VÍSITA</b></h4></center>
                            
                            <div id="dTempo"></div>
                        </div>
                        <div class="modal-footer">
                            <!--
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Regra1(2)">Fechar</button>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/javascript.helpers.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.js"></script>
    
    <script>
        setTimeout(function() {
            //$('#poder').mask('000');
            //$('#nivel').mask('000');

            $('#regra2').fadeOut()
            $('#regra3').fadeOut()
            $('#dCadastro').fadeOut()
            $('#_secundario').fadeOut()
        }, 10)    

        function Regra1(nTipo){
            if(nTipo == 1){
                $('#regra2').fadeIn(500)
                $('#regra1').fadeOut()
            } else if(nTipo == 2){
                var cMsg2 
                
                cMsg2 = " </br></br>                                                                         "
                cMsg2 += " <p style='font-size: 10px; color: red'>                                           "
                cMsg2 += "   * Você será redirecionado automaticamente em                                    "
                cMsg2 += "   <span id='delayTime'></span>                                                    "
                cMsg2 += "   segundos                                                                        "
                cMsg2 += " </p>                                                                              "   
                
                document.getElementById("dTempo").innerHTML = cMsg2
            
                var counter = 3;
                $('#delayTime').text(counter);  
                var intID = setInterval(function() {
                    counter--;
                    $('#delayTime').text(counter);

                    if (counter == 0) {
                        window.location.replace("https://www.mir4global.com/");
                    }
                }, 1000)
            } else {
                window.location.replace("https://www.mir4global.com/");
            }
        }

        function Regra2(){
            $('#regra3').fadeIn(500)
            $('#regra2').fadeOut()
        }

        function Regra3(){
            $('#dCadastro').fadeIn(500)
            $('#regra3').fadeOut()
        }

        function Secundario(){
            
            if(principal.checked){
                descsec.innerText = ' Personagem Secundário'
                descnick2.innerText = 'Nick Secundário'
                //secundario.checked = false
                $('#_secundario').fadeOut()
                nick2.required = false
            } else {
                descsec.innerText = ' Personagem Principal'
                descnick2.innerText = 'Nick Principal'
                secundario.checked = true
                $('#_secundario').fadeIn()
                nick2.required = true
            }
            
    
            if(secundario.checked){
                $('#_secundario').fadeIn()
                //principal.checked = false
                nick2.required = true
            } else {
                $('#_secundario').fadeOut()
                principal.checked = true
                nick2.required = false
            }
            
        }

    </script>