


 <div class="leftMenuHeader">                
    <li>
        <a href="/admin">
            <i class="fa fa-tools"></i>
            <span>ADMIN</span>
        </a>
    </li>
</div>
<pre></pre>
<li><a href="/admin/empresas/"><span></span><span></span><i class="fas fa-toolbox"></i></i></i><span>EMPRESAS</span></a></li>
<li><a href="/admin/Modulos/"><span></span><span></span><i class="fas fa-cubes"></i><span>MÓDULOS</span></a></li>
<li><a href="/admin/Acessos/"><span></span><span></span><i class="fas fa-users-cog"></i><span>Acessos Modulos</span></a></li>
<li><a href="/admin/ACEEMP/"><span></span><span></span><i class="fas fa-users-cog"></i><span>Acessos Empresas</span></a></li>
<li><a href="/admin/Calendario/"><span></span><span></span><i class="fas fa-users-cog"></i><span>CALENDÁRIOS</span></a></li>
