


 <div class="leftMenuHeader">                
    <li>
        <a href="/Usuarios/">
            <i class="fa fa-users"></i>
            <span>USUÁRIOS</span>
        </a>
    </li>
</div>
<pre></pre>
<li><a href="/Usuarios/Registro"><span></span><span></span><i class="fas fa-plus-square"></i></i><span>Adicionar</span></a></li>
<li><a href="/Usuarios/Edit"><span></span><span></span><i class="fas fa-edit"></i><span>Alterar</span></a></li>
<li><a href="/Usuarios/Del"><span></span><span></span><i class="fas fa-trash-alt"></i><span>Remover</span></a></li>
