


    <div class="leftMenuHeader">                
        <li>
            <a href="/">
                <i class="fa fa-industry"></i>
                <span>PAINEIS / FABRICA</span>
            </a>
        </li>
    </div>
    <pre></pre>
    <li>
         <a href="/PAINEIS/ADM_Fabrica/Supervisores">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>Gestão Supervisores</strong></span>
        </a> 
    </li>
    <li>
         <a href="/PAINEIS/ADM_Fabrica/CustoMOD">
            <span></span><i class="fas fa-file-alt"></i>
            <span class="nav-text"><strong>Custo MOD</strong></span>
        </a> 
    </li>
